.header{
    background-image: url("../../assets/bridgehousebanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ddd;
    height: 400px;
    margin-bottom: 25px;
}

#header .wave {
    position: absolute;
    bottom: 0px;
}

.wave{
    background: url("../../assets/wave.png");
    /* background-position: left top; */
    background-repeat: repeat-x;
    position: absolute;
    top: 385px;
    height: 20px;
    width: 100%;
}

.logo img{
    height: 150px;
    width: 200px;
    padding: 25px 20px 25px 15px;
    border-radius: 0px 0px 25px 25px;
    margin: 0px 15px;
    background: white;
}

.sub-title{
    text-align: center;
    text-wrap: balance;
}