.header{
    background-image: url("../../assets/bridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ddd;
    height: 400px;
}

#header .wave {
    position: absolute;
    bottom: 0;
}

.wave{
    background: url("../../assets/wave.png");
    background-position: left top;
    background-repeat: repeat-x;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

img{
    height: 100px;
    width: 150px;
}